* {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
  }
  
  body {
    background: #f5f7fb;
    color: #000;
  }
  
  body.padding-top {
    padding-top: 210px;
  }
  
  /* Customised Bootstrap CSS */
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1300px;
    }
  }
  
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #fff;
    color: #0296d5;
    font-weight: bold;
  }
  
  .text-primary {
    color: #0296d5 !important;
  }
  
  .bg-primary {
    background-color: #0296d5 !important;
    height: 139px;
}
  .nav-link {
    padding: 7px 0px;
    font-weight: 500;
}
  
  .custom-control-input:focus~.custom-control-label::before {
    box-shadow: none;
  }
  
  .btn-warning {
    background-color: #f5a623;
  }
  
  .bg-warning {
    background-color: #f5a623 !important;
  }
  
  .modal-header {
    font-size: 14px;
    padding: 10px 30px;
  }
  
  .modal-header h5 {
    font-size: 16px;
    font-weight: 700;
  }
  h4{
    font-size: 22px;
  }
  .modal-header i {
    font-size: 30px;
    vertical-align: middle;
    margin-right: 5px;
  }
  
  .modal-header .close {
    font-size: 14px;
    margin-top: -8px;
    opacity: 1;
    color: #fff;
  }
  
  .modal-body {
    padding: 30px;
  }
  
  .alert-info {
    background-color: #eff8fc;
    margin-top: 67px;
    vertical-align: bottom;
    padding-bottom: 10px;
    padding: 5px 4px 1px 5px;
    font-size: 15px;
    font-weight: 500;
}
  
  /* Customised Bootstrap CSS Ends*/
  
  .navbar {
    width: 100%;
  }
  
  .navbar .dropdown-toggle::after {
    border-top: 7px solid #0296d5;
    border-right: 7px solid transparent;
    border-bottom: 0;
    border-left: 7px solid transparent;
    vertical-align: middle;
  }
  
  .navbar .dropdown-toggle i {
    font-size: 24px;
    margin-right: 5px;
    vertical-align: middle;
  }
  .dropdown {
    position: relative;
    margin-right: -40px;
}
  header .nav li a {
    color: #fff;
    border: 1px solid #fff;
    position: relative;
    font-size: 12px;
    background-color: #0296d5;
    border-radius: 0px !important;
    padding-right: 5px;
    padding-left: 15px;
  }
  
  header .nav li {
    position: relative;
    margin-right: 5px;
  }
  label.requisition {
    position: absolute;
    margin-left: -120px;
}
  
  header .nav li:before, header .nav li:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 10px solid #fff;
    position: absolute;
    top: 0px;
    left: 1px;
    z-index: 0;
  }
  
  header .nav li:first-child:before, header .nav li:first-child:after {
    display: none;
  }
  
  header .nav li:before {
    border-left: 10px solid #0296d5;
    left: 0px;
    z-index: 1;
  }
  
  header .nav li a:after, header .nav li a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 10px solid #fff;
    position: absolute;
    top: 0px;
    right: -11px;
    z-index: 2;
  }
  
  header .nav li a:before {
    border-left: 10px solid #0296d5;
    right: -10px;
    z-index: 3;
  }
  
  header .nav li a i {
    margin-right: 5px;
    font-size: 14px;
  }
  
  .nav-pills .nav-link.active:before {
    border-left: 10px solid #fff;
  }
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #fff;
    color: #0296d5;
   
    font-weight: normal;
}
  .inactive {
    opacity: 0.5;
  }
  
  .btn-next i {
    font-size: 12px;
    margin-left: 10px;
  }
  
  .order-summary {
    padding: 15px;
    border: 1px solid #fff;
    width: 265px;
    margin-left: 81px;
    margin-top: -4px;
}
.order-summary-slide {
  height: 779px;
  font-size: 14px;
  padding-right: 39px;
  padding-left: 15px;
}
#order-total{
    line-height: 44px;
}

section.container.bg-white.job-details.mt-5 h4{
  font-size: 22px;
}
#payment-page{
  width:100%!important;
}
section.container.bg-white.job-details {
  margin-left: 54px;
  width: 92%;
}
.resume-section {
  margin-top: 50px;
}
.top-section {
  line-height: 35px;
  margin-top: -5px;
  font-size: 14px;
  padding-top: 20px;
}
.promocode-section {
  margin-top: 41px;
}
td.align-right {
  text-align: right;
}
input#promocode {
  width: 100%;
}
  .order-summary .col-md-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .lbl-order-summary {
    font-size: 16px;
    font-weight: 700;
  }
  
  .btn-expand {
    background: #fff;
    color: #0296d5;
    font-size: 14px;
    padding: 1px 6px 3px;
    border-radius: 2px;
    text-decoration: none;
  }
  
  .btn-expand:hover {
    text-decoration: none;
    background: #fcfcfc;
    color: #0296d5;
  }
  
  .radio-item {
    display: inline-block;
    position: relative;
    padding: 0 6px;
    margin: 10px 0 0;
  }
  
  .radio-item input[type='radio'] {
    display: none;
  }
  
  .radio-item label {
    color: #666;
    font-weight: normal;
  }
  
  .radio-item label:before {
    content: " ";
    display: inline-block;
    position: relative;
    top: 5px;
    margin: 0 5px 0 0;
    width: 20px;
    height: 20px;
    border-radius: 11px;
    border: 2px solid #004c97;
    background-color: transparent;
  }
  
  .radio-item input[type=radio]:checked + label:after {
    border-radius: 11px;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 9px;
    left: 10px;
    content: " ";
    display: block;
    background: #004c97;
  }
  
 
a.btn.btn-warning.pull-right.text-white.btn-next{
  background-color: #f5a623;
    margin-right: -26px!important;
    padding-top: 3px!important;
    padding-bottom: 5px!important;
}
label#requisition {
  margin-right: -23px;
}

  form{
      display: block;
  }
  
  section.container.bg-white.job-details.mt-5 {
    width: 99%!important;
    margin-left: 132px;
    padding: 45px 72px 24px 99px;
    margin-top: 63px!important;
}
section.container.bg-white.job-details.mt-4 {
   width: 99%!important;
    margin-left: 132px;
    padding:45px 72px 24px 136px;
}
.form-control{
    
    border-radius: 5px;
    box-shadow: 0px 1px 6px -1px #eaeaea;
    border: 1px solid #f5f4f4;
}
.form-control.big-box.mb-3 {
    height: 54px;
    padding: 17px 13px 49px 24px;
}
section.container.bg-white.job-details.mt-4, p {
    font-size: 18px;
}
span#credit-card-logo > img {
  margin-right: 17px;
  height: 32px;
}
span#credit-card-logo {
  margin-left: 356px;
}
input#initial {
  margin-left: -17px;
}
#payment-app > img {
  height: 122px;
  margin-left: 499px;
  margin-top: -44px;
  position: absolute;
}
#gpay-app > img {
  height: 34px;
  margin-left: 460px;
  position: absolute;
  margin-top: 2px;
  width: 113px;
}
#applepay-app > img {
  height: 119px;
  width: 143px;
  margin-left: 457px;
  margin-top: -47px;
  position: absolute;
}
#client-contract{
  color: green;
}
#color-white{
  color: white;
}
section label {
  font-family: 'Roboto Mono', monospace!important;
  color: black;
  font-weight: bold;
  opacity: 0.9;
}
.terms-border {
    border: 1px solid lightgray;
    padding: 18px;
    border-radius: 5px;
    box-shadow: 0px 1px 6px -1px #eaeaea;
}
input#agree-terms {
  height: 19px;
  width: 24px;
  margin-top: 18px;
  margin-bottom: 1px;
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    display:none;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  height: 18px;
  width: 18px;
  background: white;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 100%;
  border: 6px solid #0296d5 ;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
@media only screen and (max-width: 768px){
section.container.bg-white.job-details.mt-5 {
  width: 126%!important;
  margin-left: 11px;
  padding: 45px 73px 24px 136px;
  margin-top: 123px!important;
}
.form-control.big-box.mb-3 {
  padding: 0px 0px 0px 0px;
}
section.container.bg-white.job-details {
  margin-left: 54px;
  width: 156%;
  margin-top: 132px;
}
span#credit-card-logo {
  margin-left: 20px;
}
span#credit-card-logo > img {
  margin-right: 17px;
  height: 20px;
}
}
@media only screen and (max-width: 1200px){
span#credit-card-logo > img {
  margin-right: 17px;
  height: 27px;
}
}
@media only screen and (max-width: 992px){
  span#credit-card-logo {
    margin-left: 20px;
}
section.container.bg-white.job-details {
  
  margin-top: 132px;
}
span#payment-app>img {
  margin-left: 452px;
}
span#gpay-app>img {
  margin-left: 421px;
}
span#applepay-app>img {
  margin-left: 421px;
}
}
@media only screen and (max-width: 375px){
  section.container.bg-white.job-details.mt-5 {
    width: 164%!important;
    margin-left: 11px;
    padding: 45px 73px 24px 136px;
    margin-top: 223px!important;
}
span#credit-card-logo > img {
 
  display: none;
}
span#payment-app>img {
  display: none;
}
span#gpay-app>img {
  display: none;
}
span#applepay-app>img {
  display: none;
}
section.container.bg-white.job-details.mt-4 {
  width: 162%!important;
  margin-left: 11px;
  padding: 45px 72px 24px 136px;
}
section.container.bg-white.job-details {
  margin-left: 17px;

}
}
@media only screen and (max-width: 320px) {
section.container.bg-white.job-details.mt-5 {
  width: 297%!important;
 
  margin-top: 223px!important;
}
section.container.bg-white.job-details.mt-4 {
  width: 247%!important;
  margin-left: 22px;
  padding: 45px 72px 24px 136px;
}
section.container.bg-white.job-details {
  margin-left: 54px;
  width: 269%;
  margin-top: 132px;
}
span#payment-app>img {
  display: none;
}
span#gpay-app>img {
  display: none;
}
span#applepay-app>img {
  display: none;
}
}
@media only screen and (max-width: 375px) {
  section.container.bg-white.job-details.mt-5 {
    width: 247%!important;
   
    margin-top: 223px!important;
  }
  section.container.bg-white.job-details.mt-4 {
    width: 185%!important;
    margin-left: 22px;
    padding: 45px 72px 24px 136px;
  }
  section.container.bg-white.job-details {
    margin-left: 54px;
    width: 247%!important;
    margin-top: 132px;
  }
  span#payment-app>img {
    display: none;
  }
  span#gpay-app>img {
    display: none;
  }
  span#applepay-app>img {
    display: none;
  }
  }
  @media only screen and (max-width: 1024px){
  span#credit-card-logo {
    margin-left: 17px;
}
section.container.bg-white.job-details {
  margin-left: 54px;
  width: 90%;
  margin-top: 65px;
}}